<!DOCTYPE html>
<html>
<head>
	<title>My Home Page</title>
    <link rel="stylesheet" href = "css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head> 
<body>
	<header>
        <nav role="navigation">
            <div id="menuToggle">
            <!--
            A fake / hidden checkbox is used as click reciever,
            so you can use the :checked selector on it.
            -->
                <input type="checkbox" />
                <!--
                Here, i use the span for the harmburger button 
                -->
                <span></span>
                <span></span>
                <span></span>
                <ul id="menu">
                    <a href="#"><li>Home</li></a>
                    <a href="#"><li>Shop</li></a>
                    <a href="#"><li>About us</li></a>
                    <ul class = "secondary-menu">
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Track your order</a></li>
                        <li><a href="#">Return policy</a></li>
                        <li><a href="#">Shipping policy</a></li>
                    </ul>
                </ul>
            </div>
        </nav>
        <h1 class="page-title">Slide out menu challenge!</h1>
	</header>
	<main>
	<!--This section should contain the body of the page -->	
	</main>
	<footer>
		<p>&copy; 2023 Nesty Uwadi-Afam. All rights reserved.</p>
	</footer>
   
    <script src = "js/script.js"></script>
</body>
</html>
